<div class="card">
    <div class="card-header">
        <h4>Selector details <strong>Selector A</strong></h4>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-4">Date Created: <strong>{{selector?.createdDate}}</strong></div>
            <div class="col-4">Privacy: <strong>{{selector?.privacy}}</strong></div>
            <div class="col-4"><button class="btn btn-info pull-right" (click)="open(addSelectorGenesModal)"><i class="fa fa-plus"></i> Add genes</button></div>
        </div>
        <div class="row">
            <div class="col-12">
                <ul class="nav nav-pills nav-fill my-2">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/selectors/{{selectorID}}/genes" routerLinkActive="active">Genes</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="card-body table-container">
        <ng2-smart-table [settings]="tableSettings" [source]="genes"> </ng2-smart-table>
    </div>
</div>


<ng-template #addSelectorGenesModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Add genes</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body">
        <section *ngIf="!newFile._id">
            <h5>Add sequence file from your computer</h5>
            <div class="drop-container"
                 ngFileDrop
                 [options]="options"
                 (uploadOutput)="onUploadOutput($event)"
                 [uploadInput]="uploadInput"
                 [ngClass]="{ 'is-drop-over': dragOver }">
            </div>

            <label class="upload-button">
                <input
                        type="file"
                        ngFileSelect
                        [options]="options"
                        (uploadOutput)="onUploadOutput($event)"
                        [uploadInput]="uploadInput" />
            </label>
        </section>
        <div class="btn-group dropright">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{!!newFile.chain ? newFile.chain : 'Select chain'}}
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" *ngFor="let chain of chains" (click)="newFile.chain=chain">{{chain}}</a>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" *ngIf="!newFile._id" class="btn btn-outline-dark" (click)="startUpload()">Ok</button>
        <button type="button" *ngIf="!!newFile._id" class="btn btn-outline-dark" (click)="modal.close(newFile)">Ok</button>
    </div>
</ng-template>

<app-toast [message]="toast.message"></app-toast>
